.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
  }
  
  .full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Ensure the image fully covers the area without distortion */
  }
  